<style type='text/css'>
.embeddedServiceHelpButton .helpButton .uiButton {
    background-color: #005290;
    font-family: "Arial", sans-serif;
}

.embeddedServiceHelpButton .helpButton .uiButton:focus {
    outline: 1px solid #005290;
}
</style>
<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
var initESW = function(gslbBaseURL) {
    embedded_svc.settings.displayHelpButton = true; //Or false
    embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'
    //embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
    //embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)
    //embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
    //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)
    // Settings for Chat
    //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
    // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
    // Returns a valid button ID.
    //};
    //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
    //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
    //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)
    embedded_svc.settings.enabledFeatures = ['LiveAgent'];
    embedded_svc.settings.entryFeature = 'LiveAgent';
    var visitor;

    function messageListener(e) {
        if (typeof e.data === 'string' && e.data.indexOf('startSession') == 0) {
            var key = e.data.split(':')[1];
            GLANCE.Cobrowse.Visitor.startSession(key);
        }
        if (e.data) {
            if (e.data.data) {
                // Chat started.
                if (e.data.data.event == 'chasitorChatEstablished') {
                    if (e.data.data.chasitorData) {
                        var visitorid = e.data.data.chasitorData.chatKey.replace(/-/g, '');
                        console.log('Chat Start - visitorid=' + visitorid);
                        visitor = new GLANCE.Presence.Visitor({
                            groupid: 21223,
                            visitorid: visitorid
                        });
                        visitor.connect();
                    }
                }
                // Chat restarted.
                else if (e.data.method == 'liveagent.restored') {
                    if (e.data.data.chasitorSessionData) {
                        var visitorid =
                            e.data.data.chasitorSessionData.chatKey.replace(/-/g, '');
                        console.log('Chat Restart - visitorid=' + visitorid);
                        visitor = new GLANCE.Presence.Visitor({
                            groupid: 21223,
                            visitorid: visitorid
                        });
                        visitor.connect();
                    }
                }
                // Chat timed out.
                else if (e.data.data.event == 'chasitorIdleTimeout') {
                    if (visitor) {
                        visitor.disconnect();
                        GLANCE.Cobrowse.Visitor.stopSession();
                    }
                }
                // Chat ended.
                else if (e.data.data.event == 'chasitorAgentChatEnded' || e.data.data.event == 'chasitorChasitorChatEnded') {
                    if (visitor) {
                        console.log('Chat End');
                        visitor.disconnect();
                        GLANCE.Cobrowse.Visitor.stopSession();
                    }
                }
            }
        }
    }
    if (window.addEventListener) {
        addEventListener('message', messageListener, false);
    } else {
        attachEvent('onmessage', messageListener);
    }
    embedded_svc.init(
        'https://chasedemo.my.salesforce.com',
        'https://chasedemo.secure.force.com/liveAgentSetupFlow',
        gslbBaseURL,
        '00D6g0000025fMr',
        'Sales', {
            baseLiveAgentContentURL: 'https://c.la1-c2-ia5.salesforceliveagent.com/content',
            deploymentId: '5726g000000U77j',
            buttonId: '5736g000000U7oE',
            baseLiveAgentURL: 'https://d.la1-c2-ia5.salesforceliveagent.com/chat',
            eswLiveAgentDevName: 'Sales',
            isOfflineSupportEnabled: true
        }
    );
};
if (!window.embedded_svc) {
    var s = document.createElement('script');
    s.setAttribute('src', 'https://chasedemo.my.salesforce.com/embeddedservice/5.0/esw.min.js');
    s.onload = function() {
        initESW(null);
    };
    document.body.appendChild(s);
} else {
    initESW('https://service.force.com');
}
</script>